
.list {
    color: #333;
    text-align: left;
    list-style-type: none;
    padding: 0;
    flex: 1;
    margin: 0;
    &-item {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        cursor: pointer;
        position: relative;
        &.is-selected {
            color: #5A56FD;
            &:after {
                background: url('checkmark.svg');
                background-size: 100%;
                content: ' ';
                display: block;
                height: 15px;
                left: -4px;
                position: absolute;
                top: 12px;
                width: 15px;
            }
        }
        p {
            display: block;
            width: 80%;
            margin: 5px 0;
        }
    }
    &-delete {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
        img {
            width: 30px;
        }
    }
}