.wind {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        margin-left: 5px;
    }
    &-mini {
        font-size: 12px;
        justify-content: center;
        div {
            margin-left: 4px;
        }
    }
}

@media (max-width: 425px) {
    .wind-mini {
        flex-direction: column;
    }
}

