.wind {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        margin-left: 5px;
    }
    &-mini {
        font-size: 12px;
        div {
            margin-left: 4px;
        }
    }
}

