.weather-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    height: clamp(110px, 19vh, 130px);
    scroll-snap-align: start;
    p {
        margin: 0;
    }
}